.Rproj.user
.Rproj.user/*
.Rhistory
.RData
*.RData
*.rds
.Ruserdata
inst/doc
tests/testthat/_snaps/*
CausalGPS.log
tests/testthat/.DS_Store
doc
Meta
src/.DS_Store
/doc/
/Meta/
src-i386
.DS_Store
functional_tests/supplements/*
*zip_data.RData
*log*
*a.rds
